.main
  .main-header
    .main-header__box
      .main-header__box__leftbox
        .main-header__box__leftbox--group_name
          グループ名
        .main-header__box__leftbox--user_name
          名前
        .main-header__box__edit-btn
          edit
  .messages
    .message
      testtest

  .form
    .form__box
      .form__box__message-area
        .form__mask
      -#     = f.label :image, class: 'form__box__message-area__pic' do
      -#       = icon('fas', 'image')
      -#       = f.file_field :image, class: 'form__box__message-area__pic--icon'
      -# = f.submit 'Send', class: 'form__box__send-btn'