.side
  .side-header
    .side-header__box
      .side-header__box--name
        名前
      .side-header__box__btn
        テスト
  .groups
    .groups__group
      %p.groups__group--name
        test
      %p.groups__group--message
        test２