.content__title
  投稿の編集

.form
  = form_for [@MyRanking] do |f|
    = f.text_field :title, class: 'form__title', placeholder: 'タイトル'
    = f.text_area :content, class: 'form__text', placeholder: 'ブログ本文'
    = f.submit '投稿する', class: 'form__btn'