= form_for(current_user.following_relationships.build(following_id: user.id),remote: true) do |f|
  %div
    = f.hidden_field :following_id
    = f.submit "Follow", class: "btn btn-large btn-primary"
