.header_contents{
  background-image: url(/assets/projecter.jpeg);
  background-color:rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  object-fit: cover;
  background-position: center center;

  .top_header{
    width: 100%;
    display: flex;

    &__logo{
      line-height: 50vh;
      padding-left: 200px;
      img{
        height: 300px;
        width: 300px;
      }
    }
    &__contents{
      font-size: 3rem;
      margin: 50px 0px 10px 100px;
      color: #fff;
    }
  }
}
.main_content{
  margin: 30px auto 0;
  background-color: #fff;
  width: 70%;
}