.contents{
  height: calc(100vh - 86px);
}
.row{
  width: 100%;
  col-xs-12{
    width: 100%;
  }
}
.text-area-size{
  width: 100%;
  height: 300px;
}
// アバターのイメージ加工。
@mixin avater_img($size:200px) {
  img {
    width:  $size;
    height: $size;
    background-color: #e4e4e4;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    background-image: url(acount.png);
    background-size: $size;
  }
}
.header__title--text{
  img{
    height: 40px;
    width: 40px;
  }
}

@import "reset";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/colors";
@import "modules/hr_accessory";
@import "modules/top_header";
@import "modules/posts";
@import "modules/messages";
@import "modules/user";
@import "modules/flash";
@import "modules/my_page";
@import "modules/group";
@import "modules/posts";
@import "modules/movies";

