.header_contents
  .top_header
    .top_header__logo
      = image_tag 'logo.png'
    .top_header__contents
      %p
        映画好きな人たちが
      %p
        繋がるためのサイトを作りました。  
      %p
        １．友達申請機能
      %p
        ２．マイムービーランキング機能
      %p
        ３．映画レビュー機能
      %p
        ４．メッセージ機能